@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}



@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/benefits';

@media (max-width: 991px) {
    .container {
        max-width: 750px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 390px;
        margin: 0 auto;
    }
}