.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        max-width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
        }
    }
    &__phone {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (max-width: 768px) {
    .header {    
        &__official {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .header {
        &__logo {
            width: 190px;
        }
        &__phone {
            font-size: 16px;
        }
        &__button {
            display: none;
        }
    }
}